/* MOBILE's FIRST - Custom properties */
/* This classes will be then modified for bigger screens */

#mowatave {
	color: #2bd284 !important;
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

a {
	text-decoration-thickness: 1px;
}

#hobbiesH4 {
	text-align: center;
}

#hobbie1, #hobbie2, #hobbie3 {
	text-align: center;
	margin-top: 1em;
}

.abme-honors-bullet{
	font-size: 16px;
}

/* GENERAL CSS */
#main-content {
	margin-top: 20px;
}

li > .active {
	font-weight: 500;
}

.trnsf-thin {
	font-weight: 300;
}

.trnsf-italic {
	font-style: italic;
}

.justify {
	text-align: justify;
  	text-justify: inter-word;
}

.lucida-console {
	font-family: 'Lucida Console', monospace;
}

/* NICOLAS MESEGUER CONTACT INFO - Related*/
.profilepicture {
	max-height: 300px;
	min-width: 150px;
	min-height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.fseneca {
	max-width: 50%; 
	height: auto;
}

.fseneca:hover {
	transform: scale(1.05,1.05);
}

/* PUBLICATIONS - Related */
.pub-block {
	border-left: 2px #D9DDDC solid;
	padding-left: 15px;
}

.pub-year-h2 {
	font-size: 3.2em;
	font-weight: 100;
}

.pub-authors {
	font-weight: 400;
}

.pub-authors .pub-author {
	font-weight: 500;
}

.pub-congress {
	font-weight: 100;
}

.pub-force-margin-left {
	margin-left: 10px !important;
}

/* ACADEMIC - Related */
.academic-year-h2, .student-h2 {
	font-size: 3.2em;
	font-weight: 100;
}

.academic-block, .student-block {
	padding-left: 15px;
}

.academic-rol {
	font-weight: 400;
}

.academic-year {
	font-weight: 100;
}

.student-mark {
	font-weight: 400;
	font-size: 1.1em;
}

.student-period {
	font-weight: 100;
}

/* OPTION BUTTON */
.options-button {
    position: fixed;
	
    height: 50px;
    width: 50px;
	cursor: pointer;

    border-radius: 100%;
	
	bottom: 25px;
	right: 25px;

	display: inline-block;

	font-size: 1.2em;
	vertical-align: middle;
	text-align: center;

	padding-top: .35em;
}

.options-button i, img {
	margin: auto;
	z-index: -999;
}

#options-toggler {
	transition: .2s;
}

#options-toggler:hover {
	transform: scale(1.09,1.09);
}

#theme {
	height: 40px;
    width: 40px;

	bottom: 85px !important;
	right: 30px !important;

	font-size: 1em;

	-webkit-transition: background-color .5s; /* For Safari 3.0 to 6.0 */
    transition: background-color .5s; /* For modern browsers */
}

#lan {
	height: 40px;
    width: 40px;

	bottom: 130px;
	right: 30px;

	font-size: 1em;

	-webkit-transition: background-color .5s; /* For Safari 3.0 to 6.0 */
    transition: background-color .5s; /* For modern browsers */
}

.lang-flag {
	height: 15px;
    width: 22.5px;
	vertical-align:	0px;
}

/* BLOG - Related */
.blog-info {
	font-weight: 100;
	width: 100%;
	clear: both;
	display: block;
}

.blog-short {
	font-weight: 400;
	font-size: 17px;
}

.blog-tags {
	text-align: right;
}

.blog-tags > .tag {
	border-radius: 100px;
	padding: 4px;
	font-size: 12px;
	font-weight: 600;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
	color: white;
}

.blog-tags > .t-purple {
	background-color: rgb(137, 70, 255, 0.8);
}

.blog-tags > .t-lime {
	background-color: rgba(118, 185, 0, 0.8);
}

.blog-tags > .t-sky {
	background-color: rgba(37, 197, 223, 0.8);
}

.clickable {
	border-radius: 20px;
	border: 2px #D9DDDC solid;
	padding: 15px;
	cursor: pointer;
	transition: .3s;
	box-shadow: 0px 3px 50px rgba(0,0,0,0.2);
}

.clickable:hover {
	box-shadow: 0px 3px 50px rgba(0,0,0,0.3);
	transform: scale(1.03,1.03);
}

/* MEDIA QUERIES */
/* BIGGER SCREENS */
@media (min-width: 768px) {

	#hobbiesH4 {
		text-align: left;
	}

	#hobbie1, #hobbie2, #hobbie3 {
		text-align: left;
		margin-top: 0;
	}

	.profilepicture {
		margin-left: 0%;
		margin-right: 0%;
	}
	
	.abme-honors-bullet{
		margin-left: 40px;
	}
}








*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}











